.blue_title {
  color: #0a3fff;
}

.dark-bg {
  background: #342c2a;
}

.dark-bg h2,
.dark-bg h3,
.dark-bg p,
.dark-bg i {
  color: #fff;
}

.mozi-border-title {
  margin-top: 2em;
  margin-bottom: 1.2em;
  display: inline-block;
  padding: 1em 0.5em;
  border: 2px solid #fff;
  margin-left: auto;
  margin-right: auto;
}

.product-list {
  margin: 0;
  padding: 2em 0 1em 0;
}

.product-list li {
  color: #fff;
  list-style: none;
  line-height: 2em;
  margin-bottom: 1.5em;
}

@media only screen and (min-width: 768px) {
  .product-list-row .list-one {
    border-right: 2px solid #fff;
  }

  .product-list-row .list-two {
    border-left: 2px solid #fff;
  }
}

.product-list-row .list-one .list-two {
  align-items: center;
}

.product-list-row .list-one {
  text-align: right;
  padding-right: 2em;
}

.product-list-row .list-two {
  text-align: left;
  padding-left: 2em;
}

section#qa {
  padding: 0 !important;
}

#qa .top-bg img {
  width: 100%;
}

#qa .bottom-bg img {
  width: 70%;
}

.qa-container .qa-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qa-container img {
  display: inline-block;
  padding: 20px;
  border-right: 2px solid #0a3fff;
  width: 135px;
}

.qa-container .qa {
  display: inline-block;
  text-align: left;
  padding: 20px;
  max-width: 600px;
}

.qa-container .qa h3 {
  font-size: 24px;
  font-weight: 500;
}

@media only screen and (min-width: 992px) {
  .call-to-action {
    padding: 150px 0;
  }
}

